/**
 * Theme colors
 */

.theme-dark {
  /* general */
  --theme-background: #1b1e20;
  --theme-menu-background: #202428; 
  --theme-wallet-menu-background: #353940;

  --theme-text: #ffffff;
  --theme-info-text: #6e7075;
  --theme-info-text-dark: #3e4247;
  --theme-active-text: #ffffff;
  --theme-inactive-text: #6e7075;

  --theme-button: #02b9ff;
  --theme-seperator: #38393d;

  --theme-wallet-primary-text: #f3ba2f;
  --theme-wallet-secondary-text: #627eea;
}
